ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
input, button {
  margin-top: 10px;
  padding: 5px 8px;
  background: #fff;
  border: 1px solid #1b6d85;
}

input::placeholder{
  color: #567f85;
}

button{
  color: #1b6d85;
  margin-left: 5px;
  font-weight: bold;
}

.clearBtn{
  color: red;
  font-size: 15px;
  float: right;
  cursor: pointer;
  width: 100%;
  margin: 15px 0;
}

.w100{
  width: 100%;
}

.logout{
  margin-top: 30px;

  span{
    color: #ffc107;  font-weight: bold;
  }
}
