
<div class="w100">
  <input  type="text" placeholder="search the list" #searchItem (keyup)="onSearchItem(searchItem)">
</div>

<h3>You have to do list</h3>

<ul>
<li *ngFor="let item of items" (click)="onItemClick(item)" [ngStyle]="{'display': item.isFinished || item.hide  ? 'none' : 'block' }">
  <ng-container *ngIf='!item.isFinished'>
    {{item.content}}  </ng-container></li>
</ul>


<h3>Finished list</h3>
<ul>
  <li *ngFor="let item of clearItem" (click)="onItemClick(item)" [ngStyle]="{'display': item.hide  ? 'none' : 'block' }">
      {{item.content}} <span class="finsihed"> Finished! </span>
  </li>
</ul>

<p *ngIf="clearItem.length === 0">You didn't finish yet? </p>


<span class="clearBtn" (click)="onClear()" *ngIf="clearItem.length > 0">clear finished list</span>

<div class="w100">
  <input type="text" placeholder="add new list" #newItem>
  <button (click)="onAddItem(newItem)">ADD</button>
</div>
