@import '../../../styles';

form {
  margin: 30px 0 ;

  label,input{
    margin: 20px auto;
    font-size: 16px;
    width: 100%;
    max-width: 400px;
    text-align: left;
    display: block;
  }

  input {
    background: none;
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 5px 8px;
  }

  .btnWrap{
    width: 100%;
  }
  button{
    background: none;
    padding: 8px 15px;
    margin: 20px 0 0;
    font-size: 15px;
    border: 1px solid $darkGreen;
    color: $darkGreen;
    &:hover {
      background: $darkGreen;
      color: #fff;
    }
  }

  button[type="button"]{
    margin-right: 10px;
  }

}

